*
{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
body
{
    height:100px;
}
.searchForm
{
    display:flex;
    justify-content: center;
    margin-top:100px;
    background-color: transparent !important;
}
.temp
{
    text-align: center;
    background-color: transparent !important;
}
.temp .tempUnit
{
    font-size:1.5rem;
    color:white;
    background-color: transparent !important;
}
.temp .tempValue
{
    font-size:2rem;
    color:white;
    background-color: transparent !important;
}
.climate
{
    font-size:2.5rem;
    color:#ffffff;
    text-align:center; 
    background-color: transparent !important;
}
.location
{
    font-size:2.5rem;
    color:#ffffff;
    text-align:center;
    background-color: transparent !important;
}


.tempIcon
{
    margin:1rem;
    width:40%;
    height:auto;
    background-color: transparent !important;
}
main
{
    padding:20px;
    margin-top:10px;
    background-color:#343a409e;
    border-radius:20px;
    width:360px;
    height:360px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    box-shadow:10px 10px 20px 10px rgba(112,102,102,0.2);
}

.searchButton
{
    color:#494949;
    text-decoration:none;
    background:white;
    border-radius:10px;
    margin-left:6px;
    margin-top: 0.7rem;;
    padding:2px 12px;
    display:inline-block;
    border:2px solid #494949;
    transition:all 0.4 ease 0s;
    height:3rem;
}
.searchButton:hover
{
    color:#ffffff;
    background:#ffca2c;
    border-color:#ffca2c;
    transition:all 0.4 ease 0s;
}
.searchInput
{
    width:260px;
    overflow:hidden;
    font-size:20px;
    margin:8px 0;
    padding:8px 12px;
    border-bottom:3px solid #ffca2c;
    color:white;
    outline:none;
    background:none;
}
input{
    border:none;
}
.textStyle
{
    text-align: center !important;
    color:white;
    font-family:'Times New Roman', Times, serif;
}