.background
{
  background-image: url('../../../public/assets/hotel1.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}
.title
{
  font-family: cursive;
}
.navbarContainer
{
    border: 1px solid black;
    border-radius: 0.5rem;
    display:flex;
    width:50rem;
    margin: auto;
    justify-content: space-between;
}
.searchContainer
{

    display: flex;
    background-color: white;
    border-radius: 0.5rem;
    gap:0.1rem;
    
}
.iconContainer
{
    position: relative;
    margin-top: -2rem;
}
.icon{
    color:black;
}
label{
    display: inline-block;
    color: white;
    align-self: center;
    border-radius: 0.1rem;
}
input {
    padding: 0.3rem;
    border: none;
    border-radius: 1.5rem;
}
.dateContainer
{
    
    display: flex;
    gap: 0.5rem;
}
.searchIcon
{
display: flex;
align-self: center;
color: white;
}
.sectionContainer
{
    width:50rem;
    margin:auto;
    height:auto;
    margin-top: 1rem;
}
.leftSideBar
{   margin-left: 58rem;
    width:20%;
    padding: 0.5rem;
    border: 1.5px solid white;
    background-color: transparent !important;
    border-radius: 0.5rem;
}
.starRating {
    font-size: 24px;
  }
  
  .star {
    cursor: pointer;
    color:black
  }
  
  .filled {
    color: gold;
    cursor:pointer
  }

  .alcohol
  {
    font-size: 1.1rem;
  }
  .price
  {font-size: 1.1rem;
  }
  .rating{
    font-size: 1.1rem;
  }
  p{
    text-align: left !important;
  }
  .btn{
    padding:0.2rem;
    border: 1px solid white;
    border-radius: 0.3rem;
  }
  .cardContainer
  {
    display:flex;
    flex-wrap: wrap;
    background-color: transparent !important;
    gap:2rem;
    margin: 2rem;
    margin-top: 11rem;
  }
  .card{
    border: 2px solid #f8f9fa;
    width: -moz-fit-content;
    width: fit-content;
    background-color: rgb(255 255 255 / 26%) !important;
    border-radius: 0.5rem;
    color: #000;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    padding: 1rem;
  }
 .card h5{
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  margin-left: 0;
 }